/*Estilos para el componente header*/
.app-header{
    background-color: #1e3a8a;
    color: #fff;
    padding: 15px;

}
.app-header nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.app-header nav a:hover{
    text-decoration: underline;
}
.app-content{
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;

}
.app-content h1{
    margin: 0;
    font-size: 18px;
    color: #1e3a8a;

}
.app-footer{
    background-color: #ddd;
    padding: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}